# Konfigurasi Server
PORT=8000
FRONTEND_URL=http://localhost:5173

# Konfigurasi Database (MySQL)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=desa_beji

# Kunci Rahasia untuk Autentikasi (Sesi Admin)
JWT_SECRET=rahasia_untuk_pengembangan_lokal

# Konfigurasi Cloudinary (Untuk Manajemen Foto UMKM & Berita)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
